# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
.next/
out/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env*.local
.env.production
.env.development
!.env.example

# Vercel
.vercel

# Hardhat
cache/
artifacts/
typechain-types/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Typescript
*.tsbuildinfo
next-env.d.ts

# Hardhat config
.openzeppelin/
deployments/localhost/
